<div class="container">
    <div class="row">
        <div class="col-xl-12 col-sm-12">
            <div>
                <div class="text-center py-1">
                    <input type="text" [(ngModel)]="datos.nombre" placeholder="Ingrese el nombre">
                </div>
                <div class="text-center py-1">
                    <input type="email" [(ngModel)]="datos.email" placeholder="Ingrese el nombre">
                </div>
                <div>
                    <button type="submit" (click)="guardar(datos)">guardar</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div *ngFor="let items of data">
                <ul>
                    <li>{{items.nombre}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>